<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <script src="https://kit.fontawesome.com/8a2b672019.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body class="body-test">
    <script>
        let backdrop = document.querySelector('.body-test');

        async function test(){
            let response = await fetch('https://api.themoviedb.org/3/tv/1399?api_key=7923da2c216e5b58f54a684150f33ba9&language=en-US');
            let data = await response.json();
            return data;
        }

        test().then(data => {
            backdrop.setAttribute("style",`background-image: url('https://image.tmdb.org/t/p/original/${data.backdrop_path}')`);
        });
    </script>

    <div class="navigation" id="navigation" style="z-index: 10;">
        <div class="nav-item">
            <a href="/home">
                <i class="fa-solid fa-house fa-2x" style="color: black;"></i>
            </a>
        </div>

        <div class="nav-item">
            <ul>
                <a href="/bar-chart">
                    <li>Bar Chart</li>
                </a>
                <a href="/graph">
                    <li>Undirected</li>
                </a>
                <a href="/test-pagination">
                    <li>Search</li>
                </a>
            </ul>
        </div>
        <div class="nav-item"></div>
    </div>

    <script>
        // const body = document.querySelector('body');

        function onScroll() {
            var element = document.getElementById("navigation");
            console.log('event')
            element.classList.add("event");
        }

        document.addEventListener("scroll",onScroll());
    </script>

    <div class="wrapper">
        <!-- <h2>Histogram</h2> -->

        <form action="/bar-chart?Buku=1" method="GET" style="margin-top: 15vh;z-index: 1;" class="form-bar">
            <!-- <label for="Buku" class="select-dropdown"> -->
                <select id="Buku" name="Buku">
                    <!-- <option value="0">Silahkan Pilih...</option> -->
                    <%for (const i of book){%>
                        <option value="<%=i.book %>"> Book <%=i.book %></option>

                    <%}%>
                </select>
            <!-- </label> -->
            <input type="submit" value="cari">
        </form>
        
        <div class="chart">
            <canvas id="my_chart2" class="chart-canvas"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        let a = '<%- JSON.stringify(topBook) %>'
        let b = JSON.parse(a)
        const labels2 = [];
        const data = []
        for (const i of b) {
            labels2.push(i.Source)
            data.push(i.jumlah)
        }
        
        Chart.defaults.font.size=24;
        Chart.defaults.color = '#fff';

        const data2 = {
            labels: labels2,
            datasets: [{
                label: 'Character',
                backgroundColor: 'rgb(255, 0, 0)',
                borderColor: 'rgb(255, 99, 132)',
                data,
                borderRadius: 5,
            }]
        };
        const config2 = {
            type: 'bar',
            data: data2,
            options: {
                responsive:true,
                
                plugin: {
                    legend: {
                        position: 'top',
                        fontColor : 'red'
                    },
                    title:{
                        display:true,
                        text: 'Top 10 Character'
                    }
            }
        }
    };
        const myChart2 = new Chart(
            document.getElementById('my_chart2'),
            config2
        );
    </script>
</body>
</html>