<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Condensed:100'>
    <script src="https://kit.fontawesome.com/8a2b672019.js" crossorigin="anonymous"></script>

</head>
<body>

<!-- Search Link -->
<a href="#search" id="search-button">
  <i class="fa fa-search"></i> Search
</a>

<!-- Search Form -->
<div id="search"> 
	<span class="close">X</span>
	<form role="search" id="searchform" action="/search" method="get">
		<input value="" name="q" type="search" placeholder="type to search"/>
	</form>
</div>

<div class="split-slideshow">
  <div class="slideshow">
    <div class="slider">
      <div class="item">
        <img src="../assets/images/daenareys.jpg" />
        <!-- <img src="http://image.tmdb.org/t/p/w500/reEMJA1uzscCbkpeRJeTT2bjqUp.jpg" /> -->
      </div>
      <div class="item">
        <img src="../assets/images/jon.jpg" />
      </div>
      <div class="item">
        <img src="../assets/images/sansa.jpg" />
      </div>
      <!-- <div class="item">
        <img src="../assets/images/tyrion.jpg" />
      </div> -->
    </div>
  </div>
  <div class="slideshow-text">
    
    <a href="pencarian" class="item">Pencarian</a>
    <a href="grafik.ejs" class="item">Grafik</a>
    <a href="graph.ejs" class="item">Graph</a>
    <!-- <a href="../pages/fitur_4.html" class="item">a</a> -->
  </div>
</div>


<!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js'></script>
    <script src="../assets/js/cosmetic.js"></script>

</body>
</html>
