body,
html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

#search-button {
  position: absolute;
  left: 5px;
  width: fit-content;
  z-index: 10000;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  border: 2px solid black;
  margin-top: 5px;
  padding: 10px 30px;
  line-height: 3;
  transition: all 0.3s ease-out;
}
#search-button.open {
  background-color: transparent;
  cursor: default;
  color: white;
  border: none;
}
#search-button.open:hover {
  cursor: default;
  color: white;
  border: none;
  background-color: transparent;
}
#search-button:hover {
  color: black;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid black;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  transition: all 0.3s ease-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  display: none;
}
#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  transition: all 0.3s ease-out;
  opacity: 1;
  z-index: 106;
  display: block;
}
#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  opacity: 1;
  font-size: 27px;
  color: #fff;
}
#search .close:hover {
  color: #fc2121;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
#search input[type=search] {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -51px;
  width: 60%;
  margin-left: 20%;
  color: rgb(255, 255, 255);
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  outline: none;
  padding: 10px;
}

.select-dropdown {
  position: relative;
  box-sizing: border-box;
  border: 4px;
  box-sizing: border-box;
  background-color: #e6e6e6;
  width: fit-content;
}
.select-dropdown select {
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active {
  outline: none;
  box-shadow: none;
}
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.slideshow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.slideshow .slider {
  width: 100vw;
  height: 100vw;
  z-index: 2;
}
.slideshow .slider * {
  outline: none;
}
.slideshow .slider .item {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  border: none;
}
.slideshow .slider .item .text {
  display: none;
}
.slideshow .slider .item img {
  min-width: 101%;
  min-height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slideshow .slick-dots {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: auto;
  bottom: auto;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  left: auto;
  color: #fff;
  display: block;
}
.slideshow .slick-dots li {
  display: block;
  width: 100%;
  height: auto;
}
.slideshow .slick-dots li button {
  position: relative;
  width: 20px;
  height: 15px;
  text-align: center;
}
.slideshow .slick-dots li button:before {
  content: "";
  background: #fff;
  color: #fff;
  height: 2px;
  width: 20px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}
.slideshow .slick-dots li.slick-active button:before {
  width: 40px;
  opacity: 1;
}
.slideshow.slideshow-right {
  left: 0;
  z-index: 1;
  width: 50vw;
  pointer-events: none;
}
.slideshow.slideshow-right .slider {
  left: 0;
  position: absolute;
}

.slideshow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 80px;
  width: min-content;
  text-align: center;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  pointer-events: auto;
  text-transform: uppercase;
  letter-spacing: 20px;
  line-height: 0.8;
}
.slideshow-text.slick-slider {
  position: absolute;
}
.slideshow-text .item:hover {
  cursor: pointer;
}
.slideshow-text a {
  text-decoration: none;
  width: fit-content;
  color: #fff;
}
@media (max-width: 767px) {
  .slideshow-text {
    font-size: 40px;
  }
}

.chart {
  width: 100vh;
  height: 60vh;
}

/*# sourceMappingURL=main.css.map */
