$primary-color : #800F0F; 
// 128,15,15
$secondary-color : #420505;
// 66,5,5
$my-pink : #C5919D;
$my-purple : #a3a3e0;
$my-white : #FEFBF6;
// 254,251,246
$my-blue : #2146C7;
$my-grey : #B2B2B2;
// 178,178,178
$my-orange : #E14D2A;
$my-yellow : #FBDF07;
$my-green   : #3EC70B;

@mixin easeOut{
    transition: all 0.3s ease-out;
}
